*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanier{
    width: 400px;
    height: 300px;
    background: #0B2429;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1{
    aspect-ratio: 1/1;
    width: calc(100% * 1/3);
    background: #F3AC3C;
    border-radius: 100% 0 100% 100%;
    margin-top: 100px; 
    

}
.circle2{
    aspect-ratio: 1/1;
    width: calc(100% * 1/3);
    background: #998235;
    border-radius: 100% 0 100% 100%;
     margin-left: -60px; 
    

}
.circle3{
    aspect-ratio: 1/1;
    width: calc(100% * 1/3);
    background: #F3AC3C;
    border-radius: 100%;
    margin-left: -60px; 
    margin-bottom: 100px; 

}
