:root{

    /* colors */

    --color-primary:#F55757;
    --color-neutral-1:#FEE7E7;
    --color-neutral-2:#FBB7B7;
    --color-neurtal-3:#404040;
    --color-neutral-4:#595959;
    --color-neutral-5:#737373;
    --color-neutral-6:#D9D9D9;
    --color-neutral-7:#A6A6A6;
    --color-neutral-8:#F2F2F2;


   --font-family-main : 'Lato', sans-serif;



    /* font-sizes */

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 38px;
    --font-size-8: 48px;
    --font-size-9: 64px;


     /* Transition */

    --transition: 0.3s;
}


*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}
html{

}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,ol{
    list-style: none;
}
.container{
    height: 100%;
    width: 90%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;


}
.header{
    height: 45px;

}
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: var(--font-size-3);


}
.header_logo{
    height: 100%;
}
.header_logo > img {
    width: 100%;
    height: 100%;
    object-fit: center;
    object-position: center;

}
.header_nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_navlist{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    font-family: var(--font-family-main);
}
.header_nav_item{
    font-weight: 500;

}


.hero{
    min-height: 100vh;
    background: url(./img/car.png) no-repeat right 0 / auto 70%;
}


.hero_wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 130px 0 ;
}

.hero_block {
    flex-grow: 1;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}


.hero_title{
    font-size: var(--font-size-9);
    color: var(--color-neutral-4);
    font-weight: 700;
    line-height: 120%;
    font-family: var(--font-family-main);
}

.hero_text{
    font-size: var(--font-size-5);
    color: var(--color-neutral-5);
     font-weight: 300;
    line-height: 120%;
    font-family: var(--font-family-main);

}

.hero_btns{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    
}

.hero_search{
    padding: 20px 35px;
    background: var(--color-primary);
    color: #ffffff;
    font-family: var(--font-family-main);

}

.hero_search:last-child{
    background: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.brands{
    
    padding: 0 0 50px 0;
    margin-top: -130px;
}

.brands_wrap{
    
    opacity: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}


/* .rent_wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  
}

.rent_block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */



.rent_wrap{
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.rent_block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.rent_eyebrow{
    color: var(--color-neutral-2);
    font-size: var(--font-size-5);
    font-weight: 700;
    font-style: bold;
    font-family: var(--font-family-main);

}
.rent_head{
    color: var(--color-neutral-5);
    font-family: var(--font-family-main);
    font-size:var(--font-size-8);
    font-weight: 500;

}
.rent_text{
    font-family: var(--font-family-main);
    font-weight: 400;
    color: var(--color-neutral-7);
    font-size: var(--font-size-3);

}
.rent_group{
    display: flex;
    gap: 10px;
    justify-content: space-between;

}
.rent_card{

}
.rent_img{
    background-color: var(--color-neutral-8);

}

.rent_info {
    padding: 0 20px; /* Ձախից և աջից 20px տարածություն */
}
.rent_brand{
    color: var(--color-neutral-5);
    font-weight: 500;
    font-size: var(--font-size-6);
    font-family: var(--font-family-main);

}
.rent_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    color: var(--color-neutral-7);



}
.rent_price{
    font-weight: 400;
    font-family: var(--font-family-main);
    font-size: var(--font-size-3);
    
}
.price_bold{
    font-size: var(--font-size-7);
    color:var(--color-neurtal-3);
    font-weight: 900;
    font-family: var(--font-family-main);


    
}


.rent_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    color: var(--color-primary);               
    border: 2px solid var(--color-primary);    
    padding: 10px 20px;

 
    font-weight: 600;
   
    transition: 0.3s;
}


.rent_card:first-child .rent_btn {
    background-color: var(--color-primary);
    color: white;
}


.rent_card:hover .rent_btn {
    background-color: var(--color-primary) ;
    color: white ;
}




.rent_group:has(.rent_card:not(:first-child):hover) .rent_card:first-child .rent_btn {
    background-color: transparent ;
    color: var(--color-primary) ;
}

.rent_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}




.see_all_btn{
    padding: 20px 35px;
    background-color: var(--color-primary);
    color: white;
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: var(--font-size-3);
}