*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contanier{
    width: 60vmin;
    height: 90vmin;
    border: 1px solid #e0e6ed;
    border-radius: 10px;
    padding: 5px;
}
.pic{
    height: 50%;
    width: 100%;
    background-image: url(https://images.photowall.com/products/43286/nature-scenery.jpg?h=699&q=85);
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.tags{
    width: 100%;
    height: 7vmin;
    
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.tag{
    border-radius: 9999999999px;
    border: 1px solid #e5e7eb;;
    color: #9ca3af ;
    background: white;
    width: 80px;
    height: 25px;
    font-size: 15px;
}

h2 {
    color: #1e293b;
    margin: 10px 0;
    font-size: 26px;
}

p {
    color: #64748b;
    font-size: 15px;
    line-height: 1.6;
    
}
.wraper{
   
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn{
    background-color:#e0f2fe;
    color: #0284c7;
    border-radius: 9999999999999px;
    font-weight: bold;
    height: 35px;
    width: 100px;
    border: none;
}