/* *{
    box-sizing: border-box;
}
.body{
    position: relative;
}
.box1{
    width: 400px;
    height: 200px;
    border: 5px solid green;

}
.box2{
    width: 200px;
    height: 400px;
    border: 5px solid black;
}
.box3{
    width: 400px;
    height: 200px;
    border: 5px solid skyblue;
    position: absolute;
    top: 408px;
    left: 208px;
    
}
.box4{
    width: 200px;
    height: 400px;
    border: 5px solid red;
    position: absolute;
    top: 8px;
    left:408px;
}
.box5{
    width: 200px;
    height: 200px;
    border: 5px solid yellow;
    position: absolute;
    top: 208px;
    left: 208px;
} */
*{
    box-sizing: border-box;
}

.contanier{
    aspect-ratio: 1/1;
    
    height: 90vmin;
    position: relative;
}
.box1{
    border: 5px solid green ;
    height: calc(100% *1/3);
    width: calc(100% * 2/3);
    position: absolute;
    top: 0;
    left: 0;
}
.box2{
    border: 5px solid red ;
    height: calc(100% *2/3);
    width: calc(100% * 1/3);
    position: absolute;
    top: 0;
    right: 0;
}

.box3{
    border: 5px solid blue ;
    height: calc(100% *1/3);
    width: calc(100% * 2/3);
    position: absolute;
    bottom: 0;
    right: 0;
}

.box4{
    border: 5px solid black ;
    height: calc(100% *2/3);
    width: calc(100% * 1/3);
    position: absolute;
    bottom: 0;
    left: 0;
}

.box5{
    aspect-ratio: 1/1;
    border: 5px solid yellow;
    height: calc(100% * 1/3);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

