.main-title{
    font-size: 36px;
    font-family: "Arial",sans-serif ;
    text-align: center;
    text-transform: uppercase;
}
.section-title{
    font-size: 24px;
    font-family: "Georgia", serif;
    letter-spacing: 2px;
}
.text-one{
    font-size: 18px;
    font-family: "Times New Roman",serif;
    line-height: 1.8;
    text-align: justify;

}
.text-two{
    font-size: 16px;
    font-weight: bold;
    font-style: italic ;
    word-spacing: 6px;
}

.text-three{
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: right;

}
.main-link{
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    text-decoration: overline underline;

}
.pre-text{
    white-space: pre;
}

.box{
    width: 100%;
    height: 150px;
}

.box-one{
    background-color: black;
}

.box-two{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfHvkPNu1Ln6O9idx1VC0D5xdLWTW9TXbzJg&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box-three{
    background-image: url(https://s.list.am/g/680/94256680.webp);
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 40px;

    
}
