body {
    background-color: #dbe5ee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 50px 20px;
}

.wrap {
    background-color: #1c1e21;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    
}

.logo {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: auto; 
}

.navbar {
    display: flex;
    gap: 30px;
    margin-right: 30px; 
}

.link {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 14px;
}

.btn {
    background-color: #008296;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    
}