/* *{
    box-sizing: border-box;
}
body{
    position: relative;
}
.box1{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: red;
}
.box2{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: green;
    position: absolute;
    left: 230px;
    top: 0px;
    
}
.box3{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: blue;
    position: absolute;
    top: 220px;
}
.box4{
    width: 200px;
    aspect-ratio: 1/1;
    border: 5px solid black;
    position: relative;
    position: absolute;
    top: 220px;
    left: 230px;
}
.klor{
    width: 100px;
    height: 100px;
    border: 5px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;

}
 */
*{
    box-sizing: border-box ;
}
 .contanier{
    aspect-ratio: 1/1;
   
    height: 90vmin;
    position: relative;
 }

 .box1{
    aspect-ratio: 1/1;
    background-color: red;
    position: absolute;
    width: calc(95% * 1/2) ;
    top: 0;
    left: 0;
    

 }
  .box2{
    aspect-ratio: 1/1;
    background-color: blue;
    position: absolute;
    width: calc(95% * 1/2) ;
    top: 0;
    right: 0;

 }
  .box3{
    aspect-ratio: 1/1;
    background-color: green;
    position: absolute;
    width: calc(95% * 1/2) ;
    bottom: 0;
    left: 0;


 }
  .box4{
    aspect-ratio: 1/1;
    border:2px solid black;
    width: calc(95% * 1/2) ;
    position: absolute;
    right: 0;
    bottom: 0;

 }

.klor{
    aspect-ratio: 1/1;
    width: calc(100% * 1/2);
    border: 5px solid yellow;
    border-radius: 50% ;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
