/* div{url(http://127.0.0.1:3000/classroom/html-css/index1.html)
    width: 300px;
    height: 50px;
    border: 1px solid #000000;
}
.cube{
    color: rgb(255, 255, 255);
    font-size: 24;

}
#cube1{
    background: red;
}
#cube2{
    background:green;
}
#cube3{
    background: blue;
}
.text-center{
    text-align: center;
} */

/* input[type="number"]{
    border: 2px solid #ff0000;
}
input[type^="t"]{
    border: 2px solid blue; 

}
input[type$="l"]{
    border: 2px solid green;

}
input[type*="word"]{
    border: 2px solid yellow;

} */

/* a[href*=Github]{
   
    color: black;
}
a[href*=Youtube]{
   
    color: red;
}  */
/* *{
    border: 1px solid #000;
} */

/* div{
    border: 10px solid #000;
    border-left-color:red ;
    border-color: red blue green yellow;
    border-top-left-radius: calc(infinity *1px);
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
} */
/* div{
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    margin-left:15px 20px ;
 
    padding-right: 30px;
    border: 5px solid black;
    

} */

/* *{
    box-sizing: border-box;
}

 .mec{
    
    width: 200px;
    height: 200px;
    border: 5px dashed  black;
    border-right: 5px solid red ; 
    border-bottom: 5px solid red ; 
    border-bottom-right-radius:50%;
    

    

 } 
 .mijin{
    margin: 20px ;
    
    width: 150px;
    height: 150px;
    border: 5px solid black;

    border-bottom-right-radius:50%;
 }
 .poqr{
    margin: 15px ;
    width: 100px;
    height: 100px;
    border: 5px solid lime;
    border-bottom-right-radius:70%;
    border-radius:50% 0;


 } */

.mec{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(35, 193, 255);
    border-radius: 0 50% ;
    
}
.klor{
    width: 100px;
    height: 100px;
    background-color:  red;
    border: 7px dashed ;
    border-radius: 50%;

}




