/* div{
    width: 300px;
    height: 50px;
    border: 1px solid #000000;
}
.cube{
    color: rgb(255, 255, 255);
    font-size: 24;

}
#cube1{
    background: red;
}
#cube2{
    background:green;
}
#cube3{
    background: blue;
}
.text-center{
    text-align: center;
} */

/* input[type="number"]{
    border: 2px solid #ff0000;
}
input[type^="t"]{
    border: 2px solid blue; 

}
input[type$="l"]{
    border: 2px solid green;

}
input[type*="word"]{
    border: 2px solid yellow;

} */

/* a[href*=Github]{
   
    color: black;
}
a[href*=Youtube]{
   
    color: red;
}  */
/* *{
    border: 1px solid #000;
} */

div{
    border: 10px solid #000;
    border-left-color:red ;
    border-color: red blue green yellow;
    border-top-left-radius: calc(infinity *1px);
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
}