*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contanier{
    width: 400px;
    height: 300px;
    background: #191919;
   
}

.row{
    height: calc(100% *1/4);
    width: 100%;
    
    display: flex;
    gap: 20px;
    justify-content: start;
    
}

.circle{
    aspect-ratio: 1/1;
    height: 50px;
    background: #F6E59C;
    border-radius: 50%;
}
