*{
    box-sizing: border-box;
}
.box {
    height: 400px;
    aspect-ratio: 1/1;
    
    position: relative;
    background-color: rgb(255, 255, 255); 
}


.klor1, .klor2, .klor3, .klor4 {
    width: 50%;          
    height: 50%;       
    position: absolute;
    background-color: rgb(255, 255, 255); 
    border: 5px solid;
}

.klor1 {
    left: 0;
    top: 0;
    border-bottom-right-radius: 100%; 
}

.klor2 {
    right: 0;
    top: 0;
    border-bottom-left-radius: 100%;  
}

.klor3 {
    left: 0;
    bottom: 0;
    border-top-right-radius: 100%;   
}

.klor4 {
    right: 0;
    bottom: 0;
    border-top-left-radius: 100%;    
}