*{
    box-sizing: border-box;
}
.body{
    position: relative;
}
.box1{
    width: 400px;
    height: 200px;
    border: 5px solid green;

}
.box2{
    width: 200px;
    height: 400px;
    border: 5px solid black;
}
.box3{
    width: 400px;
    height: 200px;
    border: 5px solid skyblue;
    position: absolute;
    top: 408px;
    left: 208px;
    
}
.box4{
    width: 200px;
    height: 400px;
    border: 5px solid red;
    position: absolute;
    top: 8px;
    left:408px;
}
.box5{
    width: 200px;
    height: 200px;
    border: 5px solid yellow;
    position: absolute;
    top: 208px;
    left: 208px;
}
