
*{
    box-sizing: border-box;
}
.body{
    position: relative;
    
}
.glux {
  width: 0px;
  height: 0px;
  border-left: 100px solid white;  
  border-right: 100px solid white; 
  border-bottom: 120px solid green;
  position: absolute;
  
}


.poch {
  width: 80px;         
  height: 180px;        
  background-color: green;
  position: absolute;
  top: 125px;
  left: 65px;          
}