*{
    box-sizing: border-box;
}
.body{
    position: relative;
}
.klor1{
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    background-color: white;
    
}
.klor2{
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    background-color: white;

}
.klor3{
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 200px;
    background-color: white;
}
.klor4{
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: white;
}
.karmir{
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 100px;
    top: 100px;

}

