*{
    box-sizing: border-box;
}
body{
    position: relative;
}
.box1{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: red;
}
.box2{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: green;
    position: absolute;
    left: 230px;
    top: 0px;
    
}
.box3{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: blue;
    position: absolute;
    top: 220px;
}
.box4{
    width: 200px;
    aspect-ratio: 1/1;
    border: 5px solid black;
    position: relative;
    position: absolute;
    top: 220px;
    left: 230px;
}
.klor{
    width: 100px;
    height: 100px;
    border: 5px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;

}

