*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contanier{
    width: 400px;
    height: 300px;
    background: #F8F8F8;
    border: 1px solid;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   

}
.wrap1{
   
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}

.box{
    width: 40px;
    height: 50px;
    background: #787885;
}


.wrap2{
    width: 100%;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}
.line{
    width: 100%;
    height: 10px;
    background: #787885;
    display: flex;
    
    
}


.wrap3{

}


.small{
    
}