*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanier{
    width: 400px;
    height: 300px;
    background: #62306D;
}
.inner1{
    width: 100%;
    height: calc(100% * 1/2);
    
    display: flex;
    justify-content: center;
}
.inner2{
    width: 100%;
    height: calc(100% * 1/2);
 
    display: flex;
    justify-content: space-between;
}

.box1{
    width: calc(100% * 1/3);
    height: 100%;
    background: #F7EC7D;
    border-radius: 100% 100% 0 0;
}
.box2{
    width: calc(100% * 1/3);
    height: 100%;
    background: #F7EC7D;
    border-radius: 0 0 100% 100%;
}
.box3{
    width: calc(100% * 1/3);
    height: 100%;
    background: #F7EC7D;
    border-radius: 0 0 100% 100%;
}