*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    height: 50vmin;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);



}

.cell{
    border: 1px solid #333;

}

.x, .o{
    position: relative;
height: 100%;

}

.x:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 2px;
    background: #0f0;
    rotate: 45deg;

}
.x::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 2px;
    background: #0f0;
    rotate: -45deg;

}


.o:before{
    content: "";
    width: 50%;
    aspect-ratio: 1/1;
    border: 2px solid #800;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;


}