*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contanier{
    width: 400px;
    height: 300px;
    background: #33499F;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box1{
    width: 20%;
    height: 100%;
    background: #DE3832;
    border-left: 10px solid white;
    border-right: 10px solid white;
}
.box2{
    width: 100%;
    height: 20%;
    background: #DE3832;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}