*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contanier{
    width: 400px;
    height: 300px;
    background: #DE3832;
    position: relative;
    
   
}

.box1{
    width:125px ;
    aspect-ratio: 1/1;
    background: #33499F;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
    position: absolute;
    top: 0;
    left: 0;
    
}
.box2{
    width:125px ;
    aspect-ratio: 1/1;
    background: #33499F;
    border-top: 15px solid white;
    border-right: 15px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.box3{
    width:225px ;
    height: 125px;
    background: #33499F;
    border-bottom: 15px solid white;
    border-left: 15px solid white;
    position: absolute;
    top: 0;
    right: 0;
    
}
.box4{
    width:225px ;
    height: 125px;
    background: #33499F;
    border-top: 15px solid white;
    border-left: 15px solid white;
    position: absolute;
    bottom: 0;
    right: 0;
    
}