*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    width: 400px;
    height: 300px;
    background: #0B2429;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leaf1{
    height: calc(100% * 1/2);
    width: calc(100% * 1/3);
    background: #1A4341;
    border-radius: 70% 0 ;
}
.leaf2{
    height: calc(100% * 1/2);
    width: calc(100% * 1/3);
    background: #998235;
    border-radius: 70% 0 ;
    margin-left: -180px;
}
.leaf3{
    height: calc(100% * 1/2);
    width: calc(100% * 1/3);
    background: #F3AC3C;
    border-radius: 70% 0 ;
    margin-left: -180px;
}